.editor {
  background: #f5f5f5;
  padding: 10px;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

.error {
  border: 1px solid red !important;
}
