@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif !important;
}

body,
p,
span,
table,
div {
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5;
}

button[data-disabled='true'] {
  background: #fff !important;
}

li > .mantine-List-itemWrapper {
  white-space: break-spaces !important;
}

.profile-avatar {
  border: 2px solid #fff;
}

.profile-badge-name:hover {
  text-decoration: underline;
}

.ce-block__content,
.ce-toolbar__content {
  font-size: 15px !important;
  max-width: 94% !important;
}

.codex-editor [data-placeholder-active]:empty:before,
.codex-editor [data-placeholder-active][data-empty='true']:before {
  color: #b4bbc3 !important;
}

.image-tool {
  --bg-color: #eaeaea !important;
  --front-color: #303030 !important;
  --border-color: #ccc !important;
}

.sidebar-container.is-sticky {
  position: sticky !important;
  top: 80px !important;
  padding-bottom: 10em !important;
  width: 100% !important;
}

.button-upload {
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.button-upload:hover {
  transition: all 0.3s;
  border: 2px solid #4fc99e;
}

.upload-cover-default {
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}

@media (max-width: $mantine-breakpoint-md) {
  h1.mantine-Title-root {
    font-size: var(--mantine-h2-font-size) !important;
  }

  h2.mantine-Title-root {
    font-size: var(--mantine-h3-font-size) !important;
  }

  h3.mantine-Title-root {
    font-size: var(--mantine-h4-font-size) !important;
  }

  h4.mantine-Title-root {
    font-size: var(--mantine-h5-font-size) !important;
  }

  h5.mantine-Title-root {
    font-size: var(--mantine-h6-font-size) !important;
  }
  h6.mantine-Title-root {
    font-size: var(--mantine-h6-font-size) !important;
  }

  p.mantine-Text-root,
  .mantine-List-root,
  .mantine-Blockquote-root {
    font-size: var(--mantine-font-size-sm) !important;
  }

  p[data-size='md'] {
    font-size: var(--mantine-font-size-sm) !important;
  }

  p[data-size='sm'],
  p.mantine-Text-root[data-size='sm'],
  p[data-size='xs'],
  p.mantine-Text-root[data-size='xs'] {
    font-size: var(--mantine-font-size-xs) !important;
  }

  .mantine-ActionIcon-icon svg {
    height: 20px !important;
    width: 20px !important;
  }
}
